body {
    font-family: Arial, sans-serif;
    background-color: #0026ff;
    color: #000000;
}

header {
    background-color: aliceblue;
    text-align: center;
    border: #000000;
}

section {
    text-align: center;
}